@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
body{
    font-size: 12px !important;
}

.welwrapper {
    height: 100%;
    width: 100%;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;    
    line-height: 1.42857143;
    font-weight: normal;
    background-color: #fff;
}

.welwrapper .container {
    max-width: 800px;
    margin: auto;
}

.acc_banner {
    width: 800px;
    display: block;
    margin: 0px auto;
    position: relative;
    background: #f4fcfc;
}

.content {
    width: 800px;
    display: block;
    margin: 0px auto;
    position: relative;
    border: 1px solid #ccc;
}

.content-inner {
    padding: 10px 25px 25px 25px;
    width: 750px;
}

.content h3 {
    font-size: 140%;
}

.welwrapper p {
    font-size: 14px;
}

.welwrapper h1,
.welwrapper h2,
.welwrapper h3,
.welwrapper h4,
.welwrapper h5,
.welwrapper h6 {
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
}

.content ul li {
    font-size: 1em;
    list-style: disc;
    margin: 0px 0px 8px 0px;
}

.content ul.subpoints li {
    list-style: circle;
}

.content ul li i {
    font-style: italic;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.welwrapper .custom_container {
    width: 800px;
    margin: 0px auto;
    font-family: 'Source Sans Pro', sans-serif;;
}

.onehop_list {
    background: #f4fcfc;
    overflow: hidden;
    padding: 0 80px;
    font-family: 14px;
    padding-bottom: 30px;
}

.onehop_docs {
    background: #f4fcfc;
    font-family: 14px;
    padding: 10px 0 1px 0;
    margin-bottom: 30px;
}

.onehop_list li {
    background: url(../images/list_bg.png) left center no-repeat;
    padding-left: 30px;
    margin: 10px 0;
    font-size: 18px;
}

.onehop_list h2 {
    color: #f89928;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 27px;
}

h2.acc_title {
    color: #f89928;
    text-align: center;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 27px;
}

.productdoc_title {
    color: #288e79 !important;
}

.support_title {
    color: #0091b5 !important;
}

.download_sec,
.contact_info {
    padding: 0 40px 0 50px;
}

.download_sec li {
    margin: 30px 0;
    font-size: 18px;
}

.download_sec li img {
    margin-right: 10px;
    vertical-align: middle;
}

.download_sec li a {
    color: #000000;
    text-decoration: none;
}

#accordion label {
    color: #236977;
    font-size: 23px;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 0;
        cursor: pointer;
}

#accordion label .seq_no {
    background: #f89928;
    color: #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 27px;
    margin-right: 20px;
}
    
#accordion label .fa-caret-right{
    background: url(../images/caret_right.png);
    display: inline-block;
    vertical-align: middle;
    width:25px;
    height:25px;    
    margin-left: 15px;
}

#accordion label .fa-caret-down{
    background: url(../images/caret_down.png);
    display: inline-block;
    vertical-align: middle;
    width:25px;
    height:25px;    
    margin-left: 15px;
}

.acc_1_list li {
    font-size: 17px !important;
    background: url(../images/bullet.png) left top no-repeat !important;
    padding-left: 20px !important;
}

.acc_2_list li {
    font-size: 17px !important;
    margin: 15px 0 !important;
}

.acc_2_list li img {
    vertical-align: middle;
}
.acc_3_data {
    font-size: 17px;
}

.acc_3_list li {
    font-size: 17px !important;
    background: url(../images/bullet.png) left center no-repeat !important;
    padding-left: 20px !important;
    margin: 20px 0 !important;
}

.stronger {
    font-weight: bold;
}

.accordion {
  padding: 0 40px;
}

.accordion ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion li {
  margin: 0;
  padding: 0;
}

.accordion [type=checkbox] {
  visibility: hidden;
}

.accordion .content {
  padding: 0 10px 0 30px;
  overflow: hidden;
  border: none;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
}

.accordion p {
  color: #333;
  margin: 0 0 10px;
}

.accordion h3 {
  color: #542437;
  padding: 0;
  margin: 10px 0;
}

.vertical ul li {
  overflow: hidden;
  margin: 0 0 25px 0;
}

.vertical ul li label {
  padding: 10px;
}

.vertical [type=checkbox]:checked ~ label {
  border: none;
}

.vertical ul li .content {
  height: 0px;
  border: none;
  transition: all .5s ease-out;
}

.vertical [type=checkbox]:checked ~ label ~ #content1 {
  height: 970px;
  margin-top: 30px;
}

.vertical [type=checkbox]:checked ~ label ~ #content2 {
  height: 230px;
  margin-top: 15px;
}

.vertical [type=checkbox]:checked ~ label ~ #content3 {
  height: 160px;
  margin-top: 30px;
}

.column-full, .column-half{
    float: left;
}

.column-full{
    width:100%;
}
.column-half{
    width:50%;
}

