<?xml version="1.0"?>
<!--
/**
 * SMS Service
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * It is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 *
 * @category    Onehop
 * @package     Onehop_SMSService
 * @copyright   Copyright (c) 2013 Onehop s.r.o (http://www.onehop.net/)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
  <modules>
    <Onehop_SMSService>
      <version>1.0.1</version>
    </Onehop_SMSService>
  </modules>
  <admin>
    <routers>
      <smsservice>
        <use>admin</use>
        <args>
          <module>Onehop_SMSService</module>
          <frontName>smsservice</frontName>
        </args>
      </smsservice>
    </routers>
  </admin>
  <global>
    <blocks>
      <smsservice>
        <class>Onehop_SMSService_Block</class>
      </smsservice>
    </blocks>
    <helpers>
      <smsservice>
        <class>Onehop_SMSService_Helper</class>
      </smsservice>
    </helpers>
    <models>
      <smsservice>
        <class>Onehop_SMSService_Model</class>
      </smsservice>
    </models>
    <resources>
      <smsservice_setup>
        <setup>
          <module>Onehop_SMSService</module>
          <class>Onehop_SMSService_Model_Resource_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </smsservice_setup>
      <smsservice_write>
        <connection>
          <use>core_write</use>
        </connection>
      </smsservice_write>
      <smsservice_read>
        <connection>
          <use>core_read</use>
        </connection>
      </smsservice_read>
    </resources>
    <events>
      <checkout_onepage_controller_success_action>
        <observers>
          <smsservice>
            <type>singleton</type>
            <class>smsservice/observer</class>
            <method>orderSuccess</method>
          </smsservice>
        </observers>
      </checkout_onepage_controller_success_action>
      <sales_order_shipment_save_after>
        <observers>
          <smsservice>
            <type>singleton</type>
            <class>smsservice/observer</class>
            <method>orderShipment</method>
          </smsservice>
        </observers>
      </sales_order_shipment_save_after>
      <sales_order_invoice_save_after>
        <observers>
          <smsservice>
            <type>singleton</type>
            <class>smsservice/observer</class>
            <method>orderComplete</method>
          </smsservice>
        </observers>
      </sales_order_invoice_save_after>
      <catalog_product_save_commit_after>
        <observers>
          <smsservice>
            <type>singleton</type>
            <class>smsservice/observer</class>
            <method>saveProductCommitAfter</method>
          </smsservice>
        </observers>
      </catalog_product_save_commit_after>
      <sales_order_creditmemo_save_before >
        <observers>
          <smsservice>
            <type>singleton</type>
            <class>smsservice/observer</class>
            <method>orderRefund</method>
          </smsservice>
        </observers>
      </sales_order_creditmemo_save_before >
      <smsservice_error>
        <observers>
          <smsservice>
            <class>smsservice/sms_observer</class>
            <type>singleton</type>
            <method>onError</method>
          </smsservice>
        </observers>
      </smsservice_error>
    </events>
  </global>
  <adminhtml>
    <translate>
      <modules>
        <Onehop_SMSService>
          <files>
            <default>Onehop_SMSService.csv</default>
          </files>
        </Onehop_SMSService>
      </modules>
    </translate>
    <layout>
      <updates>
        <smsservice>
          <file>smsservice.xml</file>
        </smsservice>
      </updates>
    </layout>
    <acl>
      <resources>
        <admin>
          <children>
            <system>
              <children>
                <smsservice translate="title" module="smsservice">
                  <title>SMS Service</title>
                  <children>
                    <send translate="title" module="smsservice">
                      <title>Sending SMS</title>
                    </send>
                  </children>
                </smsservice>
                <config>
                  <children>
                    <smsservice translate="title" module="smsservice">
                      <title>SMS Service</title>
                    </smsservice>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
  <default>
    <smsservice>
      <credentials>
        <gateway>onehop</gateway>
      </credentials>
      <general>
        <unicode>0</unicode>
      </general>
    </smsservice>
  </default>
</config>